<footer>
	<div class="column">
		<p class="title">Підтримка</p>
		<p class="subtitle">24 години на добу</p>
		<p class="phone">+ 01 345 647 745</p>
	</div>
	<div class="column">
		<p class="title">Звязатись з нами</p>
		<p class="subtitle">Соціальні мережі</p>
		<div class="social-btns-wrapper">
			<button class="social-btn1"></button>
			<button class="social-btn2"></button>
			<button class="social-btn3"></button>
			<button class="social-btn4"></button>
			<button class="social-btn5"></button>
		</div>
	</div>
	<div class="column">
		<p class="title">Розсилка</p>
		<p class="subtitle">Підпишіться на спеціальні пропозиції</p>
		<div class="input-wrapper">
			<input type="email" placeholder="Email">
			<button class="subscribe-btn">Підписатися</button>
		</div>
	</div>
</footer>


