<footer>
	<div class="column">
		<p class="title">Поддержка</p>
		<p class="subtitle">24 часа в сутки</p>
		<p class="phone">+ 01 345 647 745</p>
	</div>
	<div class="column">
		<p class="title">Связаться с нами</p>
		<p class="subtitle">Социальные каналы</p>
		<div class="social-btns-wrapper">
			<button class="social-btn1"></button>
			<button class="social-btn2"></button>
			<button class="social-btn3"></button>
			<button class="social-btn4"></button>
			<button class="social-btn5"></button>
		</div>
	</div>
	<div class="column">
		<p class="title">Новостная рассылка</p>
		<p class="subtitle">Подпишитесь на специальные предложения</p>
		<div class="input-wrapper">
			<input type="email" placeholder="Email">
			<button class="subscribe-btn">Подписаться</button>
		</div>
	</div>
</footer>


