<header>
	<div class="top-container">
		<a href="/log-out" class="log-out">Вийти</a>
	</div>
	<img src="/images/logo.png" class="site-logo" alt="Logo">
	<nav>
		<ul class="menu">
			<li class="menu-item">
				<a href="/registration">Заселення</a>
			</li>
			<li class="menu-item">
				<a href="/room">Номера</a>
			</li>
			<li class="menu-item">
				<a href="/guest">Гості</a>
			</li>
		</ul>
	</nav>
</header>


