<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport"
	      content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<link rel="stylesheet" href="/css/main.css">
	<link rel="stylesheet" href="/css/guest.css">
	<title>Guest</title>
</head>
<body>
{{>header}}
<section class="title-wrapper">
	<h1 class="title-text">Гості</h1>
</section>
<article>
	<div class="filter-wrapper">
		<p class="filter-text">Фільтр:</p>
		<input type="text" class="filter-input" placeholder="Им'я" v-model="nameFilter">
		<button class="open-popup-btn" @click="createGuest">Додати</button>
	</div>

	<table class="table-content-wrapper">
		<tr class="table-content-caption">
			<td>Ім'я</td>
			<td>Прізвище</td>
			<td>Номер телефону</td>
			<td>Адреса</td>
			<td>Паспорт</td>
			<td>Дата народження</td>
			<td>Код знижки</td>
			<td>Редагувати</td>
			<td>Видалити</td>
		</tr>
		<tr v-for="(guest, index) in displayedGuests">
			<td v-text="guest.firstName"></td>
			<td v-text="guest.lastName"></td>
			<td v-text="guest.phone"></td>
			<td v-text="guest.address"></td>
			<td v-text="guest.passportDetails"></td>
			<td v-text="guest.getDateOfBirth()"></td>
			<td v-text="guest.discountCode"></td>
			<td>
				<button class="edit-guest-btn" @click="editGuest(index)"></button>
			</td>
			<td>
				<button class="delete-guest-btn" @click="deleteGuest(index)"></button>
			</td>
		</tr>
	</table>

	<div class="popup-overlay" v-show="openedGuestPopup"></div>
	<div class="popup" v-show="openedGuestPopup">
		<h3 class="popup-caption" v-text="guestPopupCaption"></h3>
		<div class="popup-input-wrapper">
			<label for="">Ім'я</label>
			<input type="text" v-model="guest.firstName">
		</div>
		<div class="popup-input-wrapper">
			<label for="">Прізвище</label>
			<input type="text" v-model="guest.lastName">
		</div>
		<div class="popup-input-wrapper">
			<label for="">Номер телефону</label>
			<input type="text" v-model="guest.phone">
		</div>
		<div class="popup-input-wrapper">
			<label for="">Адреса</label>
			<input type="text" v-model="guest.address">
		</div>
		<div class="popup-input-wrapper">
			<label for="">Паспорт</label>
			<input type="text" v-model="guest.passportDetails">
		</div>
		<div class="popup-input-wrapper">
			<label for="">Дата народження</label>
			<input type="date" v-model="guest.dateOfBirth">
		</div>
		<div class="popup-input-wrapper">
			<label for="">Код знижки</label>
			<input type="text" v-model="guest.discountCode">
		</div>
		<button class="save-data-btn" @click="saveGuestData">Підтвердити</button>
		<button class="close-popup-btn" @click="closeGuestPopup"></button>
	</div>
</article>
{{>footer}}
<script src="/js/vue.js"></script>
<script type="module" src="/js/guest-page.js"></script>
<script type="module" src="/js/scripts/check-admin.js"></script>
</body>
</html>